* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: normal;
    /* outline: 1px solid rebeccapurple; */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-scientific-formulas-chalkboard_23-2148496321.jpg?w=900&t=st=1693851503~exp=1693852103~hmac=9921bfe6ddc443e3180a2f6ed301d3f706b25b31bc269ae5580da6c72ef2ba1f);
}

button {
    flex: 1;
    font-size: 1.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#btnClear {
    flex-basis: 26.4%;
}

#btnEquals {
    flex-basis: 26.2%;
}
/* CONTAINERS */
.calc {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: white
}

.output {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: white;
}

.currentOperand {
    font-size: 2.3rem;
}

.previousOperand {
    font-size: 1.3rem;
}

.buttonsGrid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row2,
.row3,
.row4 {
    display: flex;
    flex: 1;
    gap: 5px;
    margin: 5px;
    margin-top: 0;

}

.row1,
.row5 {
    display: flex;
    flex: 1;
    gap: 5px;
    margin: 5px;
    margin-top: 0;
}